@page
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">Game</div>
            <div class="col-4">7Studs Main Event</div>
            <div class="col-3"><input type="button" id="actionJoin" value="Join This Game (username required)" /></div>
            <div class="col-3"><input type="button" id="actionStart" value="Start This Game (with current players)" /></div>
        </div>  
        <div class="row">&nbsp;</div>          
        <div class="row">
            <div class="col-2">User</div>
            <div class="col-4"><input type="text" id="userInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">Action </div>
            <div class="col-4">
                <input type="button" id="actionCheck" value="Check" />
                <input type="button" id="actionRaise" value="Raise" />                
                <input type="button" id="actionCall" value="Call" />
                <input type="button" id="actionCover" value="Cover" />                   
                <input type="button" id="actionFold" value="Fold" />
            </div>
        </div>
        <div class="row">
            <div class="col-2">Amount (if required)</div>
            <div class="col-4"><input type="text" id="actionModifiers" /></div>
        </div>        
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-auto">
            <ul id="messagesList"></ul>
        </div>
    </div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>